{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "AutomationManagement",
        "version": "2018-01-15",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2018-01-15/dscNodeCounts.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "automation-dscNodeCounts",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}": {
            "get": {
                "description": "Retrieve counts for Dsc Nodes.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/nodecounts"
                },
                "operationId": "NodeCountInformation_Get",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The type of counts to retrieve",
                        "in": "path",
                        "name": "countType",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "CountType"
                        },
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "status",
                                "nodeconfiguration"
                            ]
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Gets the count of nodes by count type",
                                    "properties": {
                                        "totalCount": {
                                            "description": "Gets the total number of records matching countType criteria.",
                                            "type": "integer"
                                        },
                                        "value": {
                                            "description": "Gets an array of counts",
                                            "items": {
                                                "description": "Number of nodes based on the Filter",
                                                "properties": {
                                                    "name": {
                                                        "description": "Gets the name of a count type",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "count": {
                                                                "description": "Gets the count for the name",
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "NodeCountInformation"
                ],
                "x-ms-examples": {
                    "Get node's node configuration counts": {
                        "parameters": {
                            "api-version": "2018-01-15",
                            "automationAccountName": "myAutomationAccount33",
                            "countType": "nodeconfiguration",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "totalCount": 16,
                                    "value": [
                                        {
                                            "name": "client.localhost",
                                            "properties": {
                                                "count": 24
                                            }
                                        },
                                        {
                                            "name": "server.localhost",
                                            "properties": {
                                                "count": 3
                                            }
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    },
                    "Get node's status counts": {
                        "parameters": {
                            "api-version": "2018-01-15",
                            "automationAccountName": "myAutomationAccount33",
                            "countType": "status",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "totalCount": 6,
                                    "value": [
                                        {
                                            "name": "Compliant",
                                            "properties": {
                                                "count": 10
                                            }
                                        },
                                        {
                                            "name": "Failed",
                                            "properties": {
                                                "count": 1
                                            }
                                        },
                                        {
                                            "name": "InProgress",
                                            "properties": {
                                                "count": 1
                                            }
                                        },
                                        {
                                            "name": "NotCompliant",
                                            "properties": {
                                                "count": 3
                                            }
                                        },
                                        {
                                            "name": "Pending",
                                            "properties": {
                                                "count": 0
                                            }
                                        },
                                        {
                                            "name": "Unresponsive",
                                            "properties": {
                                                "count": 4
                                            }
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "NodeCount": {
                "description": "Number of nodes based on the Filter",
                "properties": {
                    "name": {
                        "description": "Gets the name of a count type",
                        "type": "string"
                    },
                    "properties": {
                        "properties": {
                            "count": {
                                "description": "Gets the count for the name",
                                "type": "integer"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "NodeCountProperties": {
                "properties": {
                    "count": {
                        "description": "Gets the count for the name",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "NodeCounts": {
                "description": "Gets the count of nodes by count type",
                "properties": {
                    "totalCount": {
                        "description": "Gets the total number of records matching countType criteria.",
                        "type": "integer"
                    },
                    "value": {
                        "description": "Gets an array of counts",
                        "items": {
                            "description": "Number of nodes based on the Filter",
                            "properties": {
                                "name": {
                                    "description": "Gets the name of a count type",
                                    "type": "string"
                                },
                                "properties": {
                                    "properties": {
                                        "count": {
                                            "description": "Gets the count for the name",
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "CountTypeParameter": {
                "description": "The type of counts to retrieve",
                "in": "path",
                "name": "countType",
                "required": true,
                "x-ms-enum": {
                    "modelAsString": true,
                    "name": "CountType"
                },
                "x-ms-parameter-location": "client",
                "schema": {
                    "type": "string",
                    "enum": [
                        "status",
                        "nodeconfiguration"
                    ]
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}